<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Javascript Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../resources/css/demo.css">
  </head>
  <body>
    <br>
    <br>
    <h1>Today we are going to learn about Javascript. </h1>
    <hr>
    <div class="container">
      <h4>We'll see a basic in-built alert function</h4>
      <!-- TODO:Implement alert function -->
      <script  type="text/javascript">
        alert("Hello World");
      </script>
    </div>


    <hr>
    <!-- demo changing content/properties of HTML elements -->
    <div class="container">
      <h4>Now let's see how we can modify the contents of an existing HTML element</h4>
      <hr>

      <!-- TODO: Show example of changing inner HTML of a p tag -->
      <p>There is a paragraph tag next to this in which we will populate some text using JS.</p>
      <p id="changeText" style=""> </p>
      <script type="text/javascript">
        document.getElementById("changeText").innerHTML = "I am doing this as part of a demo for lecture.";
      </script>
      <hr>

      <!-- TODO: Show example of changing properties of HTML img tag -->
      <img id="sb_img" src="../resources/img/SB.png" alt="Spongebob">
      <script type="text/javascript">
        document.getElementById('sb_img').src="../resources/img/SB2.jpg";
        document.getElementById('sb_img').alt="";
        document.getElementById('sb_img').style.border="10px solid black";
      </script>
    </div>
  <hr>
  <div class="container">
    <h4>How about have our page react to some user actions? Let's learn about events</h4>
    <hr>
    <h6>Onclick</h6>
    <div class="row">
      <div class="col-8">
        <p id="onclickDemo_textContent">Let's change the <strong><u>text</u></strong> in this paragraph when we <strong><u>click</u></strong> on the button.</p>
      </div>
      <div class="col-4">
        <!-- write an inline script for onclick event to change the text in the paragraph -->
        <button type="button" class="btn btn-primary" name="button" onclick="document.getElementById('onclickDemo_textContent').innerHTML='Modified text for demo.';">Change Text</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p id="onclickDemo_textFont">Let's change the <strong><u>font</u></strong> of this paragraph when we <strong><u>click</u></strong> on the button.</p>
      </div>
      <div class="col-4">
        <!-- write an inline script for onclick event to change the text in the paragraph -->
        <button type="button" class="btn btn-primary" name="button" onclick="document.getElementById('onclickDemo_textFont').style.fontFamily='Monospace';">Change Font</button>
      </div>
    </div>
    <hr>
    <h6>Onmouseover</h6>
    <div class="row">
      <div class="col-8">
        <!-- write an inline script for onmouseover event to change the text in the paragraph -->
        <p id="mouseHoverDemo" onmouseover="document.getElementById('mouseHoverDemo').innerHTML='Text changed';">Let's change the text in this paragraph when we <strong><u>hover</u></strong> on the text.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-8">
        <h6>Oh no! The text is permanently changed. I want it to go back to the original text once my mouse is no longer over the text. How do we do that? Let's see.</h6>
        <!-- demo onmouseover and on mouseout -->
        <p id="mouseEventDemo_txt"
        onmouseover="document.getElementById('mouseEventDemo_txt').innerHTML='Text changed';"
        onmouseout="document.getElementById('mouseEventDemo_txt').innerHTML='Original Text';">Original Text</p>
        <h6>You can do the same with other HTML elements as well. Like this image below.</h6>
        <img id="mouseEventDemo_img" src="../resources/img/SB.png" alt="Spongebob"  onmouseover="document.getElementById('mouseEventDemo_img').src='../resources/img/SB2.jpg';"
        onmouseout="document.getElementById('mouseEventDemo_img').src='../resources/img/SB.png';">
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h4>Now let's see some basic data structures and programming constructs in Javascript</h4>
    <hr>
    <!-- show let and const -->
    <script>
      const days = ['Mon','Tue','Wed','Thu','Fri'];
      let i = 0;
      document.write('<p>');
      while (i < 5) {

          document.write(days[i]);

          i += 1;
        }
        document.write('</p>');
    </script>
  </div>
  <div class="container">
    <h4>How about some user defined functions now? We'll learn how to write functions in ES5 and ES6 standard</h4>
    <hr>

    <div class="row">
      <div class="col-8">
        <p id="functionDemo">Let's try to change the text of this paragraph on the click of a button. But this time let's write some functions. </p>
      </div>
      <div class="col-4">
        <!-- write a function for onclick event to change the text in the paragraph -->
        <button type="button" class="btn btn-primary" name="button" onclick="changeText();">Change Text</button>
        <script type="text/javascript">
          function changeText(){
            document.getElementById('functionDemo').innerHTML = "Added text to demo use of functions.";
            document.getElementById('functionDemo').style.color="red";
          }
        </script>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
          <p>Now let's try one for mouse hover events.</p>
      </div>
      <div class="col-4">
        <div onmouseover="mOver(this);" onmouseout="mOut(this);" style="background-color:yellow;  width:300px; height:150px; padding:40px;">
          Mouse Over the Box
         </div>
         <script>
           function mOver(obj){
             obj.innerHTML = "Moused Over";
           }
           function mOut(obj){
             obj.innerHTML = "Mouse Over This Box";
           }
         </script>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h4>With the release of the ES6 standard, new syntax has been introduced that requires you to write less code and makes the code more readable. Let's look at some basics. To see some more interesting examples, visit <a href="https://www.freecodecamp.org/news/write-less-do-more-with-javascript-es6-5fd4a8e50ee2/">this</a> page.
    </h4>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark">
          <th>Topic</th>
            <th>ES5</th>
            <th>ES6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <h6>Declaring variables</h6>
            </div>
          </td>
          <td>
            <div>
                <p> var a = 10;</p>
                <p> var name = 'Sreesha';</p>
                <p> var days = ['Mon','Tue','Wed','Thu','Fri'];</p>
            </div>
          </td>
          <td>
            <h6>Mutable variables: </h6><br>
            <div>
              <p> let a = 10;</p>
              <p> let name = 'Sreesha';</p>
            </div><br>
            <h6>Immutable variables: </h6><br>
            <div>
              <p> const days = ['Mon','Tue','Wed','Thu','Fri'];</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="">
              <h6>Functions</h6>
            </div>
          </td>
          <td>
            <div class="">
              <p>
                function addN(num, x){<br>
                    return num+x;<br>
                }
              </p>

            </div>
          </td>
          <td>
            <div class="">
              <h6>Arrow functions:</h6><br>
              <p>
              const addN = (num, x) => {<br>
                return num+x;<br>
              }
            </p>
            </div>
            <p class="left-align">OR</p>
            <div class="">
              <p>
                const addN = (num, x) => num+x;
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>
